/*Inicio formatação Home*/
/* incio formatação carousel*/
.carousel{
    margin-bottom: 10px;
    margin-top: 10px;
}
/* fim formatação carousel*/
/* Inicio formatação section Trabalhos*/
.Trabalhos{
    background-color:#1A1A1A;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #BDECB6;
    font-size: 35px;
    align-items: center;
}
/* Fim formatação section Trabalhos*/
/* Inicio formatação section Depoimentos*/
.Depoimentos{
    background-color:#1A1A1A;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #BDECB6;
    font-size: 35px;
    align-items: center;
}
/* Fim formtação section Depoimentos*/
/* Inicio formtação do Footer */
footer {
  background-color: #1A1A1A;
  color: #BDECB6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  flex-wrap: wrap;
  text-align: center;
}
footer h1 {
    font-size: 30px;
}
footer p{
    font-size: 25px;
    margin-bottom: 0;
}
footer img {
  width: 100px;
  height: auto;
}

.footerDescricao {
  flex: 1;
  min-width: 200px;
}

.social a img {
  width: 100px;
  margin: 0 10px;
}

/* Responsividade */
@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }

  .social {
    margin-top: 10px;
  }
}
/* Fim da formatação do Footer */
/* Fim da formatação da Home */
