<!DOCTYPE html>
<html lang="en">
 
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
   <!-- FONTE -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Masoterapia</title>
</head>
 
<body>
  <!-- Barra de navegação -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="imagens/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quemsou.html">Quem sou</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="massoterapia.html">Massoterapia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="enfermargem.html">Enfermagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="libras.html">Libras</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fim da barra de navegação -->
  <!-- Inicio apresentacao -->
  <section class="container">
    <section id="apresentacao">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-6 d-flex justify-content-center">
            <img src="imagens/quemsou/imagemexemplo.jpeg" alt="Fabiana Jora" width="300px" class="img-fluid mx-auto">
          </div>
          <div class="col-md-6">
            <h2>O que é massoterapia</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat, libero et interdum semper,
              justo turpis posuere lectus, non venenatis justo lectus accumsan est. Class aptent taciti sociosqu ad
              litora torquent per conubia nostra, per inceptos himenaeos. In sed suscipit massa. Vivamus turpis nisi,
              consectetur vitae libero ut, eleifend semper erat. In rutrum feugiat aliquet. </p>
          </div>
 
        </div>
      </div>
    </section>
    <!-- Fim apresentacao -->
    <div class="section-divider"></div>
    <!-- Inicio serviços -->
    <section class="servicos">
      <div class="h2Servicos">
        <h2>Serviços</h2>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Massagem Relaxante</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Drenagem Linfática</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Massagem Terapêutica</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Modeladora e Desportiva</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ventosaterapia</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pedras Quentes</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="https://wa.me/5511999999999?text=Olá,%20gostaria%20de%20saber%20mais!
">
            <div class="card">
              <img src="imagens/quemsou/imagemexemplo.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Reflexologia Podal</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!-- Fim serviços -->
    <div class="section-divider"></div>
  </section>
  <!-- Inicio footer -->
  <footer>
    <img src="imagens/logo.svg" alt="Logo do site">
 
    <div class="footerDescricao">
      <h1>ESPAÇO FABIANA JORA</h1>
      <p>Rua Conchal, 57 - Jardim Rollo. Araras- SP</p>
      <p>(19) 99799-6102</p>
    </div>
 
    <div class="social">
      <a href="#"><img src="imagens/facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="imagens/instagram.svg" alt="Instagram"></a>
      <a href="#"><img src="imagens/whatsapp.svg" alt="LinkedIn"></a>
    </div>
  </footer>
  <!-- Fim footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
 
</body>
 
</html>
 